#site-wrapper {
  margin: 0;
}

#page-wrapper {
  float: left;
  width: 100%;
  margin-right: -100%;
  padding: 0;
}
.sidebar {
  float: left;
}
#sidebar-second {
  float: right;
}

.two-sidebars #page,
.sidebar-left #page {
  margin-left: 40px;
}
#sidebar-first {
  width: 225px;           
	margin-right: -225px;    
}
.two-sidebars #page,
.sidebar-right #page {
  margin-right: 40px;    
}
#sidebar-second {
  width: 225px;        
}

.two-sidebars #page-title,
.sidebar-right #page-title {
  margin-right: 245px;
}

#sidebar-first {
  margin-left: 40px;
}

#sidebar-second {
  margin-right: 40px;
}

#footer {
  clear: both;
}

#sidebar-first,
#sidebar-second {
	background: none repeat scroll 0 0 #F4F4F4;
	border: 1px solid #FFFFFF;
	border-radius: 3px 3px 3px 3px;
	left: -40px;
	top: 110px;
	position: absolute;
}

#sidebar-first .about-civik {
		display: block;
		padding: 4px 0 6px 0;
		text-align: center;
}

#sidebar-first .about-civik a {
	/*background: transparent url('../images/community_builders.png') no-repeat scroll 0 3px;*/
	color: rgba(0, 0, 0, 0.5);
	font-size: 10px;
	font-weight: normal;
	margin: 0 auto;
	padding: 5px 0;
	text-align: center;
	text-shadow: 0 1px 1px #FFFFFF;	
}

#sidebar-first .block-title {
	color: #663836;
	font-size: 16px;
	font-weight: normal;
	font-family: "HelveticaNeue", Arial, sans-serif;
}

#sidebar-first .block-content {
	background: #FEFEFE;
}

#sidebar-first .block {
	background: none;
}
